.odd {
color: lightpink;
font-family: Verdana ,"Times New Roman",sans-serif 

}

#id-1 {
color: blue;
font-size: 36px;

}

.adjust-font-size {
font-size: 24px;


}

#id-2 {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}





